.contacto{
    width: 100vw;
    background: var(--gris-fondo);
    margin: none;
    padding: max(10vw, 150px) 0;
}
.contactoContenido{
    width: min(1200px, 90vw);

    margin: 0 auto;
    background: var(--azul-fondo);
    color: var(--azul-texto);
    padding: 5vw;
}