.card{
  display: flex;
  flex-flow: column;
  text-decoration: none;
  background: var(--azul-fondo);
  align-items: start;
  padding: 2rem;
  color: var(--azul-texto);
  gap: 1rem;
}
.card:hover{
  background: var(--dorado-fondo);
  color: var(--dorado-texto);
}
.cardImagen{
  width: 100%;
  inline-size: 100%;
  block-size: 100%;
  overflow: hidden;
  object-fit: cover;
}
.cardContenido{
  display: grid;
  justify-items: start;
  align-items: start;
  gap: 0.2rem;
}
.cardContenido p{
  font-family: Parrafo;
  text-align: start;
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
  width: 80%;
}
.cardContenido h3{
  font-family: Titulo3;
  text-align: start;
}
