.footer {
  padding: 1.5rem;
  background: var(--azul-fondo);
  color: var(--azul-texto);
  text-align: center;
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
}

.footerContent p {
  margin-bottom: 0.5rem;
}

.footerLink {
  color: var(--azul-texto);
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.3s;
}

.footerLink:hover {
  color: #ccc;
}

@media (min-width: 768px) {
  .footer {
      padding: 2rem;
  }
}