@keyframes colorized{
  0%{
    background: transparent;
    color: var(--blanco-texto);
  }
  100%{
    background: var(--azul-fondo);
    color: var(--azul-texto);
  }
}
@keyframes colorizedLinks{
  0%{
    color: var(--blanco-texto);
  }
  100%{
    color: var(--azul-texto);
  }
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 0.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    animation: colorized linear;
    height: 5vw;
    animation-timeline: scroll(block);
    animation-range: 0 300px;
    background: var(--azul-fondo);
  }
.logo {
  height: auto;
  width: 4vw;
}

.navList, .navListNone {
  display: flex;
  gap: 1rem;
  justify-self: center;
  list-style: none;
  align-items: center;
}

.navLink {
  color: var(--azul-texto);
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: Titulo3;
  font-size: 0.9rem;
  animation: colorizedLinks linear;
  animation-timeline: scroll(block);
  animation-range:0  300px;
}

.navLink:hover {
    color: #ccc;
}
.header :nth-child(3){
  justify-self: right;
}
.bars{
  display: none;
}
@media(max-width: 700px){
  .header {
    padding: 1rem;
    background: var(--azul-fondo);
    display: flex;
    flex-flow: column;
    height: 30vw;
    animation: none;
  }
  .logo {
    width: 20vw;
    justify-self: start;
  }
  .navList{
    height: 80vw;
    display: grid;
    gap: 0;
  }

  .navLink{
    background: var(--azul-fondo);
    width: 80vw;
    text-align: center;
    border: solid 1px var(--azul-texto);
    color: var(--azul-texto);
    height: 20vw;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 1.4rem;
  }
  .social{
    height: 20vw;
    width: 80vw;
    background: var(--azul-fondo);
    line-height: 20vw;
    border: solid 1px var(--azul-texto);
  }
  .bars{
    display: grid;
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    width: 20vw;
    height: 20vw;
    background: var(--azul-fondo);
    box-shadow: 2px 2px 2px var(--gris-fondo);
    color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
  .navListNone {
    display: none;
  }
  .socialNone{
    display: none;
  }
}