@keyframes paralax {
  from {object-position: 50% 0;}
  to {object-position: 50% 100%;} 
 }
.hero{
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: 1fr ;
  height: 80vh;
}
.heroImagen{
  overflow: hidden;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  grid-column:1/3;
  grid-row: 1/3; 
  z-index: -2;

  animation: paralax linear;
  animation-timeline: view();

}
.heroContenido{
  grid-area: 2 / 1;
  max-width: 1000px;
  justify-self: center;
  align-self: center;
  display: grid;


}

.heroContenido h1{
  text-transform: uppercase;
  color: var(--blanco-texto);
  font-size: 3rem;
  font-family: Titulo3;
  text-align: center;
}
.heroContenido p{
  color: var(--blanco-texto);
  padding-bottom: 4vw;
  font-family: SubTitulo2;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-shadow: 2px 2px 5px black;
  text-transform: uppercase;

}
@media (max-width: 600px){
    .hero{
      padding-top: 30vw;
    }
}