.socialLinks {
  display: flex;
  gap: 1rem;
  justify-content: center;

}

.socialIcon {
  font-size: 1rem; /* Tamaño base de los íconos */
  color: white; /* Usa color del App.css */
  transition: color 0.3s ease;
}
.socialIcon:hover {
  color: var(--hover-dark); /* Cambio sutil al pasar el mouse */
}

@media (min-width: 768px) {
  .socialLinks {
      padding: 1.5rem
  }

  .socialIcon {
      font-size: 1rem; /* Íconos más grandes en desktop */
  }
}