.proyecto{
    padding: max(10vw, 150px) 0;
    width: 100vw;
    display: grid;
    background: var(--gris-fondo);
    justify-content: center;
}
.proyectoContenido  {
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 90vw), 1fr));
    display: grid;
    width: min(1200px, 90vw);
}
.proyectoInfo{
    display: grid;
    background: var(--dorado-fondo);
    color: var(--dorado-texto);
    padding: 6vw;
}
.proyectoInfo h1{
    font-family: Titulo3;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    justify-self: center;
    text-align: center;
    line-height: 1rem;
}
.proyectoInfo p{
    font-family: Parrafo;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    text-align: center;
}

.proyectoInfo aside{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}
.proyectoInfo aside p{
    font-size: 0.8rem;
    font-family: Titulo3;
    opacity: 0.5;
    
}
.proyectoInfoSub{
    font-family: SubTitulo;
    opacity: 0.5;
    line-height: 0.9rem;
}
.proyectoInfoSub i{
    font-size: 0.9rem;
    
}

