/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografías globales */
@font-face{
  font-family: Titulo;
  src: local('Morganite-Bold'), url('./assets/fonts/Morganite-Bold.ttf');
  font-style: bold;
  font-weight: bold;
}
@font-face{
  font-family: Titulo2;
  src: local('Moniqa-Heading'), url'./assets/Moniqa/Moniqa-Heading.ttf';
  font-style: bold;
  font-weight: bold;
}
@font-face{
  font-family: Titulo3;
  src: local('Nohemi-Bold'), url('./assets/nohemi/Nohemi-Bold.woff');
  font-style: Bold;
  font-weight: Bold;
}
@font-face{
  font-family: SubTitulo;
  src: local('Nohemi-Thin'), url('./assets/nohemi/Nohemi-Thin.woff');
}
@font-face{
  font-family: SubTitulo2;
  src: local('Morganite-Light'), url('./assets/Morganite/Morganite-Light.ttf');
}
@font-face{
  font-family: Parrafo;
  src: local('Nohemi-Light'), url('./assets/nohemi/Nohemi-Light.woff');

}

/* Efectos Globales */

/* Colores globales como variables */
:root {
  --azul-fondo: #111922;
  --azul-texto: #787d84;
  --gris-fondo: #101214;
  --gris-texto: #9a9a9a;
  --blanco-texto: white;
  --dorado-fondo:#29251C;
  --dorado-texto:#968F83;
  --gradiente-azul: linear-gradient(#0f151e ,#1a2435 );
}
body{
  background: none;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media(max-width: 600px){
  main{
    padding-top: 30vw;
  }
  
}