@keyframes paralax {
  from {object-position: 50% 300%;}
  to {object-position: 50% -200%;} 
 }
.hero{
  width: 100vw;
  display: grid;
  align-items: end;
  justify-items: end;
  height: 80vh;
}
.heroImagen{
  overflow: hidden;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  grid-area: 1 / 1 ;
  z-index: -2;
  animation: paralax linear;
  animation-timeline: view();
}
.heroContenido{
  grid-area: 1 / 1;
  align-self: center;
  display: grid;
  justify-items: end;
  width: min(700px, 80vw);
  padding-right: max(5vw, 20px);
}

.heroContenido h1{
  text-transform: uppercase;
  color: var(--blanco-texto);
  font-size: 5rem;
  font-family: Titulo3;
  text-align: right;
}
.heroContenido p{
  text-align: right;
  color: var(--blanco-texto);
  padding-bottom: 2vw;
  font-family: SubTitulo2;
  font-size:3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-shadow: 2px 2px 5px black;
}

.servicesSection {
  padding: 4vw 0;
  text-align: center;
  background:var(--gris-fondo);
  display: grid;
  justify-content: center;
  gap: 3rem;
  

}
.servicesSection h2{
  color: var(--gris-texto);
  font-family: Titulo3;
  font-size: 2rem;
}

.servicesGrid {
  display: grid;
  gap: 1.5rem;
  width: min(1200px, 90vw);
  grid-template-columns: repeat(auto-fit, minmax(min(275px, 90vw), 1fr));
}
.servicesSection :nth-child(3){
  justify-self: center;
}
.descripcion{
  background: var(--dorado-fondo);
  color: var(--dorado-texto);
  padding: max(5vw, 60px) 0;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center;
}
.descripcionContenido{
  width: min(1200px, 90vw);
}
.descripcion h2{
  justify-self: center;
  font-family: Titulo3;
  margin-bottom: 3rem;
  
}
.descripcion p{
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
  font-family: Parrafo;
}
.descripcion p :last-child{
  margin-bottom: 0;
}
.descripcion ul{
  font-family: Parrafo;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
}
.portfolioSection {
  padding: 2rem 1rem;
  background: var(--gris-fondo);
  text-align: center;
}
.portfolioSection h2{
  font-family: Titulo3;
  color: var(--gris-texto);
  margin-bottom: 3rem;
}
.portfolioGrid {
  display: grid;
  gap: 1.5rem;
  max-width: min(1200px, 90vw);
  margin: 0 auto 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(275px, 90vw), 1fr));
  align-items: space-evenly;
  justify-items: center;


}
.portfolioCard{
  background: var(--azul-fondo);
}
.portfolioCard .media {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  margin-bottom: 1rem;
}

.portfolioCard .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.portfolioCard .noMedia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--fondo-negativo-secundario);
  border: 1px solid var(--border-color);
}

.contactSection {
  padding: 2rem 1rem;
  text-align: center;
}
