
@keyframes paralax {
  from {object-position: 50% -100%;}
  to {object-position: 50% 100%;} 
 }
 @keyframes paneo {
  from {object-position: 10% 50%; }
  to {object-position: 100% 50% ;}
}
/* Beneficios */
.hero{
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: 1fr ;
  height: 40vw;
}
.heroImagen{
  overflow: hidden;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  grid-column:1/3;
  grid-row: 1/3; 
  z-index: -2;

  animation: paralax linear;
  animation-timeline: view();

}
.heroContenido{
  grid-area: 2 / 1;
  max-width: 1000px;
  justify-self: center;
  align-self: center;
  display: grid;
  gap: 10px;
  align-item: center;
  justify-items: center;
}

.heroContenido h1{
  text-transform: uppercase;
  color: var(--blanco-texto);
  font-size: 2rem;
  font-family: Titulo3;
  text-align: center;
}
.heroContenido p{
  color: var(--blanco-texto);
  padding-bottom: 3vw;
  font-family: SubTitulo;
  text-align: center;
  font-size: 1.5rem;
}
.servicioDescripcion{
  width: 100vw;
  padding: 4vw 29vw;
  justify-items: center;
  text-align: center;
  background-color: var(--dorado-fondo);
  color: var(--dorado-texto);
}
.servicioDescripcion p{
  font-family: Parrafo;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}
.ventajas {
  display: flex;
  flex-flow: column;
  padding: 0  10vw;
  background-color: var(--gris-fondo);
}
.ventajasTitulo {
  padding: 10vw;
  align-self: center;
  justify-self: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--gris-texto);
  font-family: Titulo3;
}
.ventajasCuerpo{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(600px,1fr));
  color: var(--azul-texto);
}
.ventajaImagen{

  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  overflow: hidden;
  animation: paneo linear;
  animation-timeline: view();
}
.ventajasCuerpo :nth-child(1){
  order: 1;
}
.ventajasCuerpo :nth-child(2){
  order: 2;
}
.ventajasCuerpo :nth-child(3){
  order: 4;
}
.ventajas :nth-child(4){
  order: 3;
  background-color: var(--dorado-fondo);
  color: var(--dorado-texto);
}
.ventajasCuerpo :nth-child(5){
  order: 5;
}
.ventajasCuerpo :nth-child(6){
  order: 6;
}
.ventajaContenido{
  display: grid;
  background: var(--azul-fondo);
  gap: 1vw;
  color: var(--azul-texto);
  padding: 6vw;
  justify-content: center;
}
.ventajaContenido h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: Titulo3;
  letter-spacing: 0.1rem;
  justify-self: center;
  text-align: center;
}

.ventajaContenido p {
  font-family: Parrafo;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  align-self: start;
  justify-self: center;
  text-align: center;
}
.ventajaContenido :nth-child(3){
  font-family: Titulo1;
  opacity: 0.6;
  letter-spacing: 0.08rem;
}
/* Paquetes */
.paquetes {
  width: 100vw;
  text-align: center;
  background: #101214;
  color:  var(--blanco-texto);
  display: flex;
  flex-flow: column;
}

.paquetes h2 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Titulo3;
  padding: 5vw; 
  font-size: 3rem;
  color: var(--gris-texto);
}
.paquete{
  display: flex;
  flex-flow: column;
}
@keyframes paralaxMedianeras{
  from {object-position: 50% 0%;
}
  to {object-position: 50% 30%} 
}
.paqueteCabeza{
  width: 100vw;
  height: 20vw;
  display: grid;
}
.paqueteCabezaImagen{
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  overflow: hidden;
  animation: paralaxMedianeras ease-in;
  animation-timeline: view();
}
.paqueteCabezaInfo{
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}

.paqueteCabezaInfo h3 {
  font-size: 10rem;
  color: var(--blanco-texto);
  font-family: Titulo;
  align-self: end;
}
.paqueteCabezaInfo p{
  font-size: 1.5rem;
  font-family: SubTitulo;
  align-self: start;
}
.paqueteCuerpo{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 60vw;
  padding: 2vw;
  margin: auto;
  gap: 1vw;

}

.paqueteCuerpo div{
  padding: 3vw 0;

}

.paqueteCuerpo h3{
  font-family: Titulo3;
  font-size: 2rem;
  margin-bottom: 1vw;
} 
.paqueteCuerpoObjetivo, .paqueteCuerpoNoIncluye{
  background-color: var(--azul-fondo);
  color: var(--azul-texto);
}
.paqueteCuerpoIncluye{
  background-color: var(--dorado-fondo);
  color: var(--dorado-texto);
}
.paqueteCuerpo ul {

  font-size: 0.9rem;
  font-weight: 300;
  margin: 2rem;
  align-self: start;
  justify-self: start;
  display: grid;
  gap: 1rem;
}

.paqueteCuerpo ul li {
  margin-bottom: 0.5rem;
  font-family: Parrafo;
  font-size: 1.2rem;
  text-align: left;
}

.paquetePie{
  width: 40vw;
  margin: auto;
  display: grid;
  align-content: start;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 5vw;
}
.paquetePie p{
  font-family: SubTitulo;
  font-size: 1.3rem;
}
.paquetePie :nth-child(2){
  font-Family: Titulo3 ;
  font-size: 1.5rem;
}
.paquetePie :last-child {
  justify-self: center;
}

.process {
  padding: 4rem 2rem;
  text-align: center;
  background: var(--azul-fondo);
  color: var(--azul-texto);
}

.process h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-family: Titulo3;
}

.processContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.processItem h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 2rem;
  font-family: Titulo3;
}

.processItem p {
  font-size: 1rem;
  font-weight: 300;
  font-family: SubTitulo;
}
@media(max-width:700px){
  .hero{
    height: 80vh;
    grid-template-columns: repeat(2, 1fr);
  }
  .heroImagen{
    grid-column: 1 / 3;
    grid-row: 1/3 
  }
  .heroContenido{ 
    grid-column: 1 / 3;
    grid-row: 2/3;
  }
  .servicioDescripcion{
    padding: 8vw 5vw;
  }
  .ventajasTitulo{
    font-size: 1.5rem;
  }
  .ventajasCuerpo{
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  .ventajasCuerpo :nth-child(3){
    order: 3;
  }
  .ventajasCuerpo :nth-child(4){
    order: 4;
  }
  .paquetes h2 {
    font-size: 1.5rem;
    padding: 10vw auto;

  } 
  .paqueteCabeza{
    height: 60vw;
  } 
  .paqueteCuerpo{
    width: 80vw;
  }
}
