.portfolio{
  width: 100%;
  background: var(--gris-fondo);
}

.portfolioGrid {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: min(1200px, 90vw);
  margin: 0 auto;
  background: var(--fondo-negativo);
  color: var(--titulo-negativo);
  grid-template-columns: repeat(auto-fit, minmax(min(350px,90vw), 1fr));
  align-items: space-evenly;
  justify-items: center;
}
.portfolioItem{
  background: var(--fondo-negativo-secundario);
}
